<launch>
  <!-- 
       Using simulation time means nodes initialized after this
       will not use the system clock for its ROS clock and 
       instead wait for simulation ticks. 
       See http://wiki.ros.org/Clock
       Note: set to false for deploying to a real robot.
  -->
  <include file="$(find hello_world_robot)/launch/rotate.launch">
  </include>

  <!-- Rotate the robot on launch -->
  <param name="TIME_TEST_LENGTH_IN_SECONDS" type="int" value="$(optenv TIME_TEST_LENGTH_IN_SECONDS 60)" />
  <node pkg="hello_world_robot" type="rotate_test.py" name="rotate_test" output="screen"/>
</launch>
